AddDefaultCharset UTF-8
RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|txt|gif|jpg|jpeg|png|css|php|swf|flv|html|txt|doc|pdf)$ index.php [L] 